{% extends 'base.html' %}

{% block about %}
    <div class="container">
        <div class="row my-2">
            <div class="col-xl-12 col-md-12 col-xs-12">
                <h4>María Cristina Sánchez de la Cruz</h4>
                <hr>
                <p>Estudiante de Ingeniería Física FCFM-UAdeC</p>
            </div>
            <div class="col-xl-12 col-md-12 col-xs-12">
                <h3>Esteaban de Jesús Solis Rivera</h3>
                <hr>
                <p>Estudiante de Ingeniería Física FCFM-UAdeC</p>
            </div>
            <div class="col-xl-12 col-md-12 col-xs-12">
                <h3>Otniel Alberto García Dominguez</h3>
                <hr>
                <p>Estudiante de Ingeniería Física FCFM-UAdeC</p>
            </div>
        </div>
    </div>

{% endblock %}