{% extends 'base.html' %}

{% block about %}
    <div class="container">
        <div class="row my-2">
            <div class="col-xl-12 col-md-12 col-xs-12">
                <h3>María Cristina Sánchez de la Cruz</h3>
                <hr>
                <p>Estudiante de Ingeniería Física FCFM-UAdeC <br>
                   Principal Desarrollador de las aplicaciones de Óptica y circuitos eléctricos.
                </p>
            </div>
            <div class="col-xl-12 col-md-12 col-xs-12">
                <h3>Esteban de Jesús Solis Rivera</h3>
                <hr>
                <p>Estudiante de Ingeniería Física FCFM-UAdeC <br>
                    Colaborador en el desarrollo de las aplicaciones de Óptica.
                </p>
            </div>
            <div class="col-xl-12 col-md-12 col-xs-12">
                <h3>Otniel Alberto García Dominguez</h3>
                <hr>
                <p>Estudiante de Ingeniería Física FCFM-UAdeC <br>
                   Colaborador en el desarrollo de las aplicaciones de Óptica.
                </p>
            </div>
            <div class="col-xl-12 col-md-12 col-xs-12">
                <h3>Jesús López Zavala</h3>
                <hr>
                <p>Ing. Físico<br>
                   Soporte de desarrollo.
                </p>
            </div>
        </div>
    </div>

{% endblock %}