<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }} -Optics</title>
    {% else %}
    <title>Óptica</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if activar_panel[0] %} active {% endif %}">
            <a href="/" class="nav-link" href="/" type="button" id="">
              Reflexión y Refracción
            </a>
          </li>
          <li class="nav-item {% if activar_panel[1] %} active {% endif %}">
            <a href="/espejos" class="nav-link">Espejos</a>
          </li>
          <li class="nav-item {% if activar_panel[2] %} active {% endif %}">
            <a href="/lentes" class="nav-link">Lentes</a>
          </li>
          <li class="nav-item {% if activar_panel[3] %} active {% endif %}">
            <a href="/RLC" class="nav-link">RLC</a>
          </li>
          <li class="nav-item {% if activar_panel[4] %} active {% endif %}">
            <a href="/CL" class="nav-link">Caída Libre</a>
          </li>
          <li class="nav-item {% if activar_panel[5] %} active {% endif %}">
            <a href="/Difraccion" class="nav-link">Difracción</a>
          </li>
          <li class="nav-item {% if activar_panel[6] %} active {% endif %}">
            <a href="/about" class="nav-link">Acerca de nosotros</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            onkeypress="pulsar(event)"
            style="width: 50%;"
            type="search"
            id="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-success my-2 my-sm-0"
            id="search_hero"
            type="button"
          >
            Search
          </button>
        </form>
      </div>
    </nav>
    {% block content %} {% endblock %} {% block lentes_content %} {% endblock %}
    {% block about %} {% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="{{ url_for('static', filename='methods.js') }}"></script>
    <script>
      function pulsar(e) {
        if (e.keyCode === 13 && !e.shiftKey) {
          e.preventDefault();
          $.ajax({
            url: "/search_hero",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            data: {
              text_busqueda: document.getElementById("search").value,
              data_s: JSON.stringify([1, 2, 3]),
            },
            dataType: "json",
            success: function (data) {
              console.log(data);
              document.getElementById("search").value = "";
            },
          });
        }
      }

      $("#rng_n1").on("mousemove", function () {
        document.getElementById("txt_n1").value = $(this).val();
      });
      $("#txt_n1").on("change", function () {
        document.getElementById("txt_n1").value = $(this).val();
        document.getElementById("rng_n1").value = $(this).val();
      });
      $("#rng_n1").on("change", function () {
        //document.getElementById("txt_n1").value = $(this).val();
        document.getElementById("btn_submit").click();
      });

      $("#rng_n2").on("mousemove", function () {
        document.getElementById("txt_n2").value = $(this).val();
      });
      $("#rng_n2").on("change", function () {
        //document.getElementById("txt_n1").value = $(this).val();
        document.getElementById("btn_submit").click();
      });
      $("#txt_n2").on("change", function () {
        document.getElementById("txt_n2").value = $(this).val();
        document.getElementById("rng_n2").value = $(this).val();
      });

      $("#rng_Ang_i").on("mousemove", function () {
        document.getElementById("txt_Ang_i").value = $(this).val();
      });
      $("#rng_Ang_i").on("change", function () {
        //document.getElementById("txt_n1").value = $(this).val();
        document.getElementById("btn_submit").click();
      });
      $("#txt_Ang_i").on("change", function () {
        document.getElementById("txt_Ang_i").value = $(this).val();
        document.getElementById("rng_Ang_i").value = $(this).val();
      });

      //Espejos
      $("select[name=rng_espejo]").change(function(e){
        //document.getElementById("rng_espejo").value = $(this).val();
        document.getElementById("btn_submit_espejo").click();
      });
      $("#rng_so").on('mousemove', function(){
        document.getElementById("txt_so").value = $(this).val();
      });
      $("#txt_so").on('change', function(){
        document.getElementById("txt_so").value = $(this).val();
        document.getElementById("rng_so").value = $(this).val();
      });
      $("#rng_so").on('change', function(){
        //document.getElementById("txt_n1").value = $(this).val();
        document.getElementById("btn_submit_espejo").click();
      });
      $("#rng_ho").on('mousemove', function(){
        document.getElementById("txt_ho").value = $(this).val();
      });
      $("#rng_ho").on('change', function(){
        //document.getElementById("txt_n1").value = $(this).val();
        document.getElementById("btn_submit_espejo").click();
      });
      $("#txt_ho").on('change', function(){
        document.getElementById("txt_ho").value = $(this).val();
        document.getElementById("rng_ho").value = $(this).val();
      });
      $("#rng_Ra").on('mousemove', function(){
        document.getElementById("txt_Ra").value = $(this).val();
      });
      $("#rng_Ra").on('change', function(){
        //document.getElementById("txt_n1").value = $(this).val();
        document.getElementById("btn_submit_espejo").click();
      });
      $("#txt_Ra").on('change', function(){
        document.getElementById("txt_Ra").value = $(this).val();
        document.getElementById("rng_Ra").value = $(this).val();
      });

      //Codigos Para Lentes
      $("#rng_n1_lentes").on("mousemove", function () {
        document.getElementById("txt_n1_lentes").value = $(this).val();
      });
      $("#rng_n1_lentes").on("change", function () {
        document.getElementById("btn_submit_lentes").click();
      });
      $("#txt_n1_lentes").on("change", function () {
        document.getElementById("txt_n1_lentes").value = $(this).val();
        document.getElementById("rng_n1_lentes").value = $(this).val();
      });

      $("#rng_n2_lentes").on("mousemove", function () {
        document.getElementById("txt_n2_lentes").value = $(this).val();
      });
      $("#rng_n2_lentes").on("change", function () {
        document.getElementById("btn_submit_lentes").click();
      });
      $("#txt_n2_lentes").on("change", function () {
        document.getElementById("txt_n2_lentes").value = $(this).val();
        document.getElementById("rng_n2_lentes").value = $(this).val();
      });

      $("#rng_rc_lentes").on("mousemove", function () {
        document.getElementById("txt_rc_lentes").value = $(this).val();
      });
      $("#rng_rc_lentes").on("change", function () {
        document.getElementById("btn_submit_lentes").click();
      });
      $("#txt_rc_lentes").on("change", function () {
        document.getElementById("txt_rc_lentes").value = $(this).val();
        document.getElementById("rng_rc_lentes").value = $(this).val();
      });

      $("#rng_do_lentes").on("mousemove", function () {
        document.getElementById("txt_do_lentes").value = $(this).val();
      });
      $("#rng_do_lentes").on("change", function () {
        document.getElementById("btn_submit_lentes").click();
      });
      $("#txt_do_lentes").on("change", function () {
        document.getElementById("txt_do_lentes").value = $(this).val();
        document.getElementById("rng_do_lentes").value = $(this).val();
      });

      $("#rng_ao_lentes").on("mousemove", function () {
        document.getElementById("txt_ao_lentes").value = $(this).val();
      });
      $("#rng_ao_lentes").on("change", function () {
        document.getElementById("btn_submit_lentes").click();
      });
      $("#txt_ao_lentes").on("change", function () {
        document.getElementById("txt_ao_lentes").value = $(this).val();
        document.getElementById("rng_ao_lentes").value = $(this).val();
      });

      //RLC controles
      $("select[name=rng_circuito]").change(function(e){
        //document.getElementById("btn_submit_circuito").click();
        document.getElementById("btn_submit_RLC").click();
      });
      $("#rng_circuito").on('change', function(){
        document.getElementById("rng_circuito").value = $(this).val();            
      });
      $("#rng_vi").on("mousemove", function () {
        document.getElementById("txt_vi").value = $(this).val();
      });
      $("#txt_vi").on("change", function () {
        document.getElementById("txt_vi").value = $(this).val();
        document.getElementById("rng_vi").value = $(this).val();
      });
      $("#rng_vi").on("change", function () {
        document.getElementById("txt_vi").value = $(this).val();
        document.getElementById("btn_submit_RLC").click();
      });

      $("#rng_Ii").on("mousemove", function () {
        document.getElementById("txt_Ii").value = $(this).val();
      });
      $("#rng_Ii").on("change", function () {
        document.getElementById("txt_Ii").value = $(this).val();
        document.getElementById("btn_submit_RLC").click();
      });
      $("#txt_Ii").on("change", function () {
        document.getElementById("txt_Ii").value = $(this).val();
        document.getElementById("rng_Ii").value = $(this).val();
      });

      $("#rng_R").on("mousemove", function () {
        document.getElementById("txt_R").value = $(this).val();
      });
      $("#rng_R").on("change", function () {
        document.getElementById("txt_R").value = $(this).val();
        document.getElementById("btn_submit_RLC").click();
      });
      $("#txt_R").on("change", function () {
        document.getElementById("txt_R").value = $(this).val();
        document.getElementById("rng_R").value = $(this).val();
      });

      $("#rng_C").on("mousemove", function () {
        document.getElementById("txt_C").value = $(this).val();
      });
      $("#rng_C").on("change", function () {
        document.getElementById("txt_C").value = $(this).val();
        document.getElementById("btn_submit_RLC").click();
      });
      $("#txt_C").on("change", function () {
        document.getElementById("txt_C").value = $(this).val();
        document.getElementById("rng_C").value = $(this).val();
      });

      $("#rng_L").on("mousemove", function () {
        document.getElementById("txt_L").value = $(this).val();
      });
      $("#rng_L").on("change", function () {
        document.getElementById("txt_L").value = $(this).val();
        document.getElementById("btn_submit_RLC").click();
      });
      $("#txt_L").on("change", function () {
        document.getElementById("txt_L").value = $(this).val();
        document.getElementById("rng_L").value = $(this).val();
      });
//caida libre
      $("#rng_angulo").on("mousemove", function () {
        document.getElementById("txt_angulo").value = $(this).val();
      });
      $("#rng_angulo").on("change", function () {
        document.getElementById("txt_angulo").value = $(this).val();
        document.getElementById("btn_submit_CL").click();
      });
      $("#txt_angulo").on("change", function () {
        document.getElementById("txt_angulo").value = $(this).val();
        document.getElementById("rng_angulo").value = $(this).val();
      });

      $("#rng_vo").on("mousemove", function () {
        document.getElementById("txt_vo").value = $(this).val();
      });
      $("#rng_vo").on("change", function () {
        document.getElementById("txt_vo").value = $(this).val();
        document.getElementById("btn_submit_CL").click();
      });
      $("#txt_vo").on("change", function () {
        document.getElementById("txt_vo").value = $(this).val();
        document.getElementById("rng_vo").value = $(this).val();
      });
      $("#rng_yi").on("mousemove", function () {
        document.getElementById("txt_yi").value = $(this).val();
      });
      $("#rng_yi").on("change", function () {
        document.getElementById("txt_yi").value = $(this).val();
        document.getElementById("btn_submit_CL").click();
      });
      $("#txt_yi").on("change", function () {
        document.getElementById("txt_yi").value = $(this).val();
        document.getElementById("rng_yi").value = $(this).val();
      });
      $("#rng_masa").on("mousemove", function () {
        document.getElementById("txt_masa").value = $(this).val();
      });
      $("#rng_masa").on("change", function () {
        document.getElementById("txt_masa").value = $(this).val();
        document.getElementById("btn_submit_CL").click();
      });
      $("#txt_masa").on("change", function () {
        document.getElementById("txt_masa").value = $(this).val();
        document.getElementById("rng_masa").value = $(this).val();
      });

      //Difraccion
      $("#rng_lamda").on("mousemove", function () {
        document.getElementById("txt_lamda").value = $(this).val();
      });
      $("#rng_lamda").on("change", function () {
        document.getElementById("txt_lamda").value = $(this).val();
        document.getElementById("btn_submit_Difraccion").click();
      });
      $("#txt_lamda").on("change", function () {
        document.getElementById("txt_lamda").value = $(this).val();
        document.getElementById("rng_lamda").value = $(this).val();
      });

      $("#rng_b").on("mousemove", function () {
        document.getElementById("txt_b").value = $(this).val();
      });
      $("#rng_b").on("change", function () {
        document.getElementById("txt_b").value = $(this).val();
        document.getElementById("btn_submit_Difraccion").click();
      });
      $("#txt_b").on("change", function () {
        document.getElementById("txt_b").value = $(this).val();
        document.getElementById("rng_b").value = $(this).val();
      });

      $("#rng_h").on("mousemove", function () {
        document.getElementById("txt_h").value = $(this).val();
      });
      $("#rng_h").on("change", function () {
        document.getElementById("txt_h").value = $(this).val();
        document.getElementById("btn_submit_Difraccion").click();
      });
      $("#txt_h").on("change", function () {
        document.getElementById("txt_h").value = $(this).val();
        document.getElementById("rng_h").value = $(this).val();
      });

      $("#rng_f_2").on("mousemove", function () {
        document.getElementById("txt_f_2").value = $(this).val();
      });
      $("#rng_f_2").on("change", function () {
        document.getElementById("txt_f_2").value = $(this).val();
        document.getElementById("btn_submit_Difraccion").click();
      });
      $("#txt_f_2").on("change", function () {
        document.getElementById("txt_f_2").value = $(this).val();
        document.getElementById("rng_f_2").value = $(this).val();
      });

      $("#rng_a").on("mousemove", function () {
        document.getElementById("txt_a").value = $(this).val();
      });
      $("#rng_a").on("change", function () {
        document.getElementById("txt_a").value = $(this).val();
        document.getElementById("btn_submit_Difraccion").click();
      });
      $("#txt_a").on("change", function () {
        document.getElementById("txt_a").value = $(this).val();
        document.getElementById("rng_a").value = $(this).val();
      });

      $("#rng_n").on("mousemove", function () {
        document.getElementById("txt_n").value = $(this).val();
      });
      $("#rng_n").on("change", function () {
        document.getElementById("txt_n").value = $(this).val();
        document.getElementById("btn_submit_Difraccion").click();
      });
      $("#txt_n").on("change", function () {
        document.getElementById("txt_n").value = $(this).val();
        document.getElementById("rng_n").value = $(this).val();
      });
    </script>
  </body>
</html>
