{% extends 'base.html' %}

{% block content %}
<div class="container my-5 ">
    <label>                                                                                                                                                         
</div>
        </div>
            <img src="{{ url_for('static', filename='img/Logo.svg') }}">
        </div>
        <body background="{{ url_for('static', filename='img/port.png') }}">
        </body>
        <hr>
        <hr>
    <div class="container my-2 ">
        <body>
            <table>
                <tr>
                    <td>
                        <h4><FONT COLOR=white>¿Qué es OpticSimulator?</FONT></h4>
                        <div class="row">
                            <div class="col-xl-4">   
                             <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
                            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
                            <label>            
                                <FONT SIZE=2 color=white>OpticSimulator es un sitio web gratuito con contenido didáctico sobre los temas de Óptica geometrica, aquí podrá encontrar simulaciones sobre los temas de:
                                $$Reflexión,Refracción, Espejos, Lentes$$
                                </FONT>
                            </label>
                        </div>
                    </td>
                    <td >
                        <h4><FONT COLOR=white>¿A quienes va dirigido?</FONT></h4>
                        <div class="row">
                        <div class="col-xl-5">   
                            <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
                            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
                            <label>            
                                <FONT SIZE=2 color=white>OpticSimulator es para profesores y estudiantes de óptica, quienes pueden acceder a la página desde cualquier dispositivo con internet. </FONT>
                            </label>
                        </div> 
                        </div>             
                    </td>
                    <td>
                        <h4><FONT COLOR= white>Contáctanos en:</FONT></h4>
                        <div class="row">
                            <div class="col-xl-5 ">   
                             <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
                            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
                            <label>            
                                <FONT SIZE=2 color=white>OpticSimulator@gmail.com </FONT><br>
                                <FONT SIZE=2 color=white>https://www.facebook.com/OpticSimulator</FONT>
                            </label>
                        </div>

                    </td>
                
                </tr>
            </table>
        </body>
    </div>
</div>
{% endblock %}