{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Circuito RLC paralelo </h1>
    <hr>
    <div class="row">
        <div class="col-xl-6">
            <form class="form-inline my-2 mx-2 my-lg-0" action="/RLC_par" method="GET" novalidate>
                <div class="row block my-2">
                    <label for="rng_vi_par"  class="btn btn-primary text-white block">v_i (v)</label>
                    <input class="mx-2" style="width: 50%;" type="range" id="rng_vi_par" name="rng_vi_par" min="0" value={{ vi }} max="30" step="0.001"> 
                    <input type="number" style="width: 20%;"  class="form-control" id="txt_vi_par" value={{vi}}>
                </div>
                <div class="row block my-2">
                    <label for="rng_Ii_par"  class="btn btn-primary text-white block">I_i(A)</label>
                    <input class="mx-2" style="width: 50%;" type="range" id="rng_Ii_par" name="rng_Ii_par" min="-10" value={{ Ii }} max="10" step="0.001"> 
                    <input type="number" style="width: 20%;"  class="form-control" id="txt_Ii_par" value={{Ii}}>
                </div>
                <div class="row block my-2">
                    <label for="rng_R_par"  class="btn btn-primary text-white block">R(ohms)</label>
                    <input class="mx-2" style="width: 50%;" type="range" id="rng_R_par" name="rng_R_par" min="0" value={{ R }} max="2000" step="0.001"> 
                    <input type="number" style="width: 20%;"  class="form-control" id="txt_R_par" value={{R}}>
                </div>
                <div class="row block my-2">
                    <label for="rng_C_par"  class="btn btn-primary text-white block">C(F)</label>
                    <input class="mx-2" style="width: 50%;" type="range" id="rng_C_par" name="rng_C_par" min="0" value={{ C }} max="10" step="0.001"> 
                    <input type="number" style="width: 20%;"  class="form-control" id="txt_C_par" value={{C}}>
                </div>
                <div class="row block my-2">
                    <label for="rng_L_par"  class="btn btn-primary text-white block">L(H)</label>
                    <input class="mx-2" style="width: 50%;" type="range" id="rng_L_par" name="rng_L_par" min="0" value={{ L }} max="10" step="0.001"> 
                    <input type="number" style="width: 20%;"  class="form-control" id="txt_L_par" value={{L}}>
                </div>
                <input type="submit" id="btn_submit_RLC_par"  value="update graph" class="btn btn-outline-primary">
            </form>
        </div>
        <div class="col-xl-6">
            <div class="row my-2">
                <div class="card" >
                    <div class="card-header">
                        <h5 class="card-title">Grafica de voltaje</h5>
                    </div>
                    <img class="animated fast fadeIn my-0" src="/matplot-RLC-par-{{vi}}-{{Ii+10}}-{{R}}-{{C}}-{{L}}.svg"
                    alt="random points as svg"
                    height="400"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}